* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
/* Adding the minheight which viewport height - navbar height - footer height
It ensures the footer will locate at the botton only */
main {
    min-height: calc(100vh - 3.5rem - 8rem);
    margin-top: 3.5rem;
}
.backdrop {
    top: 0;
    left: 0;
    display: none;
    /* display is none as without it won't able to click anything */
    /* that will fix using JS */
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.main-header {
    background-color: #2ddf5c;
    width: 100%;
    padding: 8px 16px;
    position: fixed;
    top: 0;
    z-index: 2;
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    height: 2.5rem;
    display: inline-block;
}

.main-header__brand img {
    height: 3rem;
}

.main-div {
    display: inline-block;
    vertical-align: middle;
}

.main-nav {
    display: none;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    /* list-style: none; */
    /* width: calc(100% - 54px); */
}

.main-nav__item {
    display: inline-block;
    /* to add all the list items in the one line and also keep them as block element */
}

.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}

.toggle-button:focus {
    outline: none;
}

/* Bar is used to Hameburger menu */
.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
}

@media (min-width: 50rem) {
    .main-nav {
        text-align: right;
        display: inline-block;
        width: calc(100% - 55px);
        /* width: calc(100% - 74px - px); */
        /* Here we are subtracting width of div element + 5px 
        W(main-nav) = 100% - [W(main-div) + 5px]
        And we are getting W(main-div) while inspecting element and hovering on it in developer tool
        So width: calc(100% - 74px)
        As we added Hamburger Menu (toggle-button) so now we have minus its width as well i.e 3rem = 48px
         */
        vertical-align: middle;
    }
    .toggle-button {
        display: none;
    }
}

.main-nav__item a,
.mobile-nav__item {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0;
    margin: 0 8px;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
}

/* call-to-action cta button */
.main-nav__item--cta a,
.mobile-nav__item--cta a {
    color: white;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
    color: #ff1b68;
    background: white;
    border: none;
}



.main-footer {
    background: black;
    padding: 32px;
    margin-top: 40px;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: block;
    margin: 1rem 0;
}

.main-footer__link a {
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}

@media (min-width:50rem){
    .main-footer__link {
        display: inline-block;
        margin: 0 1rem;
    }
}

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
}

.mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    padding: 0;
    text-align: center;
}

.mobile-nav__item {
    margin: 1rem 0;
}

.mobile-nav__item a {
    font-size: 1.5rem;
}

.button {
    background: #0e4f1f;
    color: white;
    font: inherit;
    border: 1.5px solid #0e4f1f;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: white;
    color: #0e4f1f;
}

.button:focus {
    outline: dashed;
}

/* 
  * Adding 2nd class used to switch the element to block when need to change the style
  * We need to add !important, as this class's property will overwrite by main.css file which specified before shared.css 
*/
.open {
    display: block !important;
}